workflows/WF-20-OpenClaw-Orchestrator-V2.json
{
  "name": "WF-20-OpenClaw-Orchestrator-V2",
  "nodes": [
    {
      "id": "wf20v2_trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        260,
        360
      ],
      "parameters": {}
    },
    {
      "id": "wf20v2_build",
      "name": "Code Build HookTaskRequest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        360
      ],
      "parameters": {
        "jsCode": "\nconst root = $json.root || $json.root_path || $env.TRANSLATION_ROOT || '/Users/ivy/Library/CloudStorage/OneDrive-Personal/Translation Task';\nconst jobId = $json.job_id || `job_${Date.now()}`;\nconst reviewDir = `${root}/Translated -EN/_REVIEW/${jobId}`;\nconst meta = {\n  job_id: jobId,\n  root_path: root,\n  arabic_v1_path: $json.files?.arabic_v1?.path,\n  arabic_v2_path: $json.files?.arabic_v2?.path,\n  english_v1_path: $json.files?.english_v1?.path,\n  review_dir: reviewDir,\n};\nconst metaB64 = Buffer.from(JSON.stringify(meta), 'utf8').toString('base64');\nconst pythonBin = $env.PYTHON_BIN || 'python3';\nconst cmd = `${pythonBin} /Users/Code/workflow/translation/scripts/openclaw_translation_orchestrator.py --meta-json-base64 '${metaB64}'`;\nconst message = [\n  'You are translator-main. Run the following command exactly once and do not alter arguments:',\n  cmd,\n  'After command finishes, respond with one short line: ORCHESTRATOR_DONE',\n].join('\\n');\nconst payload = {\n  message,\n  name: 'translation-revision-job',\n  agentId: $env.OPENCLAW_AGENT_ID || 'translator-main',\n  sessionKey: `job:${jobId}`,\n  wakeMode: 'now',\n  deliver: false,\n  meta,\n  model: $env.OPENCLAW_PRIMARY_MODEL || 'openai-codex/gpt-5.3-codex',\n  timeoutSeconds: Number($env.OPENCLAW_HOOK_TIMEOUT_SECONDS || 900),\n};\nreturn [{ ...$json, job_id: jobId, meta, hook_payload: payload }];\n"
      }
    },
    {
      "id": "wf20v2_hook",
      "name": "HTTP OpenClaw Hook Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENCLAW_BASE_URL || \"http://127.0.0.1:18789\"}}/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENCLAW_HOOK_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.hook_payload}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20v2_ctx",
      "name": "Code Hook Context Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        460
      ],
      "parameters": {
        "jsCode": "return [$input.first().json];"
      }
    },
    {
      "id": "wf20v2_merge",
      "name": "Merge Hook Ack With Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1000,
        360
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "wf20v2_parse_ack",
      "name": "Code Parse Hook Ack + Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        360
      ],
      "parameters": {
        "jsCode": "\nconst all = $input.all().map(i => i.json);\nconst ctx = all.find(x => x.hook_payload && x.meta) || {};\nconst candidate = all.find((x) => Object.prototype.hasOwnProperty.call(x, 'runId') || Object.prototype.hasOwnProperty.call(x, 'ok') || Object.prototype.hasOwnProperty.call(x, 'body') || Object.prototype.hasOwnProperty.call(x, 'data')) || {};\nconst ack = candidate.body || candidate.data || candidate;\nconst runId = ack.runId || candidate.runId || '';\nconst ok = ack.ok === true || candidate.ok === true;\nconst hookAccepted = ok && Boolean(runId);\nreturn [{\n  ...ctx,\n  hook_ack: ack,\n  hook_accepted: hookAccepted,\n  openclaw_run_id: runId,\n}];\n"
      }
    },
    {
      "id": "wf20v2_if_ack",
      "name": "IF Hook Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1460,
        360
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hook_accepted}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "wf20v2_wait",
      "name": "Execute Command Wait For OpenClaw Result",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "command": "=mkdir -p \"{{$json.meta.review_dir}}\"; for i in $(seq 1 {{$env.OPENCLAW_RESULT_POLL_TRIES || 120}}); do if [ -f \"{{$json.meta.review_dir}}/openclaw_result.json\" ]; then cat \"{{$json.meta.review_dir}}/openclaw_result.json\"; exit 0; fi; sleep {{$env.OPENCLAW_RESULT_POLL_INTERVAL_SECONDS || 2}}; done; META_JSON='{{ JSON.stringify($json.meta) }}'; {{$env.PYTHON_BIN || 'python3'}} /Users/Code/workflow/translation/scripts/openclaw_translation_orchestrator.py --meta-json \"$META_JSON\" >/tmp/openclaw_fallback_{{$json.job_id}}.log 2>&1 || true; if [ -f \"{{$json.meta.review_dir}}/openclaw_result.json\" ]; then cat \"{{$json.meta.review_dir}}/openclaw_result.json\"; else echo '{\"ok\":false,\"status\":\"needs_revision\",\"errors\":[\"openclaw_result_timeout\",\"openclaw_fallback_failed\"]}'; fi"
      }
    },
    {
      "id": "wf20v2_parse_res",
      "name": "Code Parse HookTaskResponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ],
      "parameters": {
        "jsCode": "\nconst raw = $json.stdout || '{}';\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) {\n  parsed = { ok: false, status: 'needs_revision', errors: [`response_parse_error: ${e.message}`] };\n}\nconst src = $items('Code Parse Hook Ack + Context', 0, 0)?.[0]?.json || {};\nreturn [{\n  ...src,\n  hook_result: parsed,\n  openclaw_run_id: src.openclaw_run_id || '',\n  hook_result_ok: parsed.ok === true,\n}];\n"
      }
    },
    {
      "id": "wf20v2_if_ok",
      "name": "IF HookTaskResponse ok",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2120,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.hook_result_ok}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "wf20v2_out",
      "name": "Set Task Brief + Delta Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        240
      ],
      "parameters": {
        "jsCode": "\nconst r = $json.hook_result || {};\nreturn [{\n  job_id: r.job_id || $json.job_id,\n  review_dir: r.review_dir || $json.meta?.review_dir,\n  status: r.status || 'review_pending',\n  artifacts: r.artifacts || {},\n  quality: r.quality || {},\n  errors: r.errors || [],\n  openclaw_run_id: $json.openclaw_run_id || '',\n  callback_base: `${$env.N8N_PUBLIC_BASE_URL || ''}/webhook/review`,\n}];\n"
      }
    },
    {
      "id": "wf20v2_err_ack",
      "name": "Set Hook Ack Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        520
      ],
      "parameters": {
        "jsCode": "\nreturn [{\n  ...$json,\n  status: 'needs_revision',\n  error_message: 'OpenClaw hook request was not accepted',\n  openclaw_run_id: $json.openclaw_run_id || '',\n}];\n"
      }
    },
    {
      "id": "wf20v2_err_result",
      "name": "Set Hook Result Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        420
      ],
      "parameters": {
        "jsCode": "\nreturn [{\n  ...$json,\n  status: 'needs_revision',\n  error_message: ($json.hook_result?.errors || []).join('; ') || 'OpenClaw hook processing failed',\n  openclaw_run_id: $json.openclaw_run_id || '',\n}];\n"
      }
    },
    {
      "id": "wf20v2_exec99",
      "name": "Execute WF-99 Error-Audit V2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2560,
        480
      ],
      "parameters": {
        "workflowId": "={{$env.WF99_V2_WORKFLOW_ID}}",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code Build HookTaskRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Build HookTaskRequest": {
      "main": [
        [
          {
            "node": "HTTP OpenClaw Hook Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Hook Context Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP OpenClaw Hook Agent": {
      "main": [
        [
          {
            "node": "Merge Hook Ack With Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Hook Context Snapshot": {
      "main": [
        [
          {
            "node": "Merge Hook Ack With Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Hook Ack With Context": {
      "main": [
        [
          {
            "node": "Code Parse Hook Ack + Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Hook Ack + Context": {
      "main": [
        [
          {
            "node": "IF Hook Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hook Accepted": {
      "main": [
        [
          {
            "node": "Execute Command Wait For OpenClaw Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Hook Ack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Wait For OpenClaw Result": {
      "main": [
        [
          {
            "node": "Code Parse HookTaskResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse HookTaskResponse": {
      "main": [
        [
          {
            "node": "IF HookTaskResponse ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF HookTaskResponse ok": {
      "main": [
        [
          {
            "node": "Set Task Brief + Delta Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Hook Result Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Hook Ack Error": {
      "main": [
        [
          {
            "node": "Execute WF-99 Error-Audit V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Hook Result Error": {
      "main": [
        [
          {
            "node": "Execute WF-99 Error-Audit V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
