workflows/WF-20-Delta-MultiAI.json
{
  "name": "WF-20-Delta-MultiAI",
  "nodes": [
    {
      "id": "wf20_trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        500
      ],
      "parameters": {}
    },
    {
      "id": "wf20_delta",
      "name": "Code ArabicDiff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ],
      "parameters": {
        "jsCode": "\nconst v1 = $json.files?.arabic_v1?.structure || {};\nconst v2 = $json.files?.arabic_v2?.structure || {};\nconst getText = (s) => (s.blocks || []).filter(b => b.kind === 'paragraph').map(b => b.text);\nconst a = getText(v1);\nconst b = getText(v2);\nconst added = b.filter(x => !a.includes(x));\nconst removed = a.filter(x => !b.includes(x));\nconst modified = [];\nfor (let i = 0; i < Math.min(a.length, b.length); i++) {\n  if (a[i] !== b[i]) modified.push({ index: i, before: a[i], after: b[i] });\n}\nconst delta = {\n  job_id: $json.job_id,\n  added,\n  removed,\n  modified,\n  summary_by_section: [\n    { section: 'General', changes: [\n      `Added: ${added.length}`,\n      `Removed: ${removed.length}`,\n      `Modified: ${modified.length}`\n    ]}\n  ]\n};\nreturn [{ ...$json, delta_pack: delta }];\n"
      }
    },
    {
      "id": "wf20_prompts",
      "name": "Code Build Core Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        500
      ],
      "parameters": {
        "jsCode": "\nconst delta = $json.delta_pack;\nconst enV1 = $json.files?.english_v1?.structure || {};\nconst arV2 = $json.files?.arabic_v2?.structure || {};\nconst prompt = `You are revising English V1 based on Arabic V2 deltas. Keep unchanged text stable.\nDelta summary: ${JSON.stringify(delta.summary_by_section)}\nAdded blocks: ${delta.added.slice(0,40).join(' | ')}\nModified blocks: ${delta.modified.slice(0,40).map(m => `${m.before} -> ${m.after}`).join(' | ')}`;\nreturn [{ ...$json, llm_prompt: prompt }];\n"
      }
    },
    {
      "id": "wf20_gemini",
      "name": "HTTP Gemini Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GEMINI_BASE_URL}}/models/gemini-2.0-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":$json.llm_prompt}]}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_claude",
      "name": "HTTP Claude Rewrite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.CLAUDE_BASE_URL}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.CLAUDE_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-3-5-sonnet-20241022\",\"max_tokens\":3000,\"messages\":[{\"role\":\"user\",\"content\":$json.llm_prompt}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_chatgpt",
      "name": "HTTP ChatGPT QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        580
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENAI_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4.1\",\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Return strict JSON with fields: draft, qa_notes, term_hit.\"},{\"role\":\"user\",\"content\":$json.llm_prompt}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_deepseek",
      "name": "HTTP DeepSeek Variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        760
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.DEEPSEEK_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DEEPSEEK_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"deepseek-chat\",\"temperature\":0.3,\"messages\":[{\"role\":\"user\",\"content\":$json.llm_prompt}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_merge1",
      "name": "Merge Gemini+Claude",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1220,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "wf20_merge2",
      "name": "Merge +ChatGPT",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1420,
        420
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "wf20_merge3",
      "name": "Merge +DeepSeek",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1620,
        560
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "wf20_normcore",
      "name": "Code Normalize Core Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        560
      ],
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nconst candidates = [];\nfor (const it of items) {\n  const raw = JSON.stringify(it);\n  candidates.push({ raw, source: it.response?.model || it.model || 'unknown' });\n}\nconst termHit = 0.90;\nreturn [{ ...$json, core_candidates: candidates, term_hit: termHit }];\n"
      }
    },
    {
      "id": "wf20_heur",
      "name": "Code PreJudge Heuristics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        560
      ],
      "parameters": {
        "jsCode": "\nconst judgeMargin = 0.05;\nconst critical = ($json.delta_pack?.added || []).length > 5;\nconst needExpansion = judgeMargin < 0.08 || ($json.term_hit || 0) < 0.92 || critical;\nreturn [{ ...$json, judge_margin: judgeMargin, critical_section_changed: critical, need_expansion: needExpansion }];\n"
      }
    },
    {
      "id": "wf20_if_expand",
      "name": "Adaptive Expansion IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        560
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.need_expansion}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "wf20_glm",
      "name": "HTTP GLM Expansion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.GLM_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GLM_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"glm-4.5\",\"messages\":[{\"role\":\"user\",\"content\":$json.llm_prompt}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_minimax",
      "name": "HTTP MiniMax Expansion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.MINIMAX_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.MINIMAX_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"abab6.5s-chat\",\"messages\":[{\"role\":\"user\",\"content\":$json.llm_prompt}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_kimi",
      "name": "HTTP Kimi Expansion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.KIMI_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.KIMI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"moonshot-v1-8k\",\"messages\":[{\"role\":\"user\",\"content\":$json.llm_prompt}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "wf20_pack_expand",
      "name": "Code Collect Expanded Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        420
      ],
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nconst expanded = items.map(i => JSON.stringify(i));\nreturn [{ ...$json, expanded_candidates: expanded }];\n"
      }
    },
    {
      "id": "wf20_skip_expand",
      "name": "Code Skip Expansion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        700
      ],
      "parameters": {
        "jsCode": "\nreturn [{ ...$json, expanded_candidates: [] }];\n"
      }
    },
    {
      "id": "wf20_judge",
      "name": "HTTP ChatGPT Judge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.OPENAI_BASE_URL}}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"gpt-4.1\",\"temperature\":0.1,\"messages\":[{\"role\":\"system\",\"content\":\"Score candidates and return JSON with winner, judge_margin, scores, selected_draft.\"},{\"role\":\"user\",\"content\":`Core:${JSON.stringify($json.core_candidates)} Expanded:${JSON.stringify($json.expanded_candidates)} Prompt:${$json.llm_prompt}`}]}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "wf20_final",
      "name": "Code FinalAssembler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        560
      ],
      "parameters": {
        "jsCode": "\nconst safe = (v) => (typeof v === 'string' ? v : JSON.stringify(v));\nconst judgeRaw = $json;\nlet selectedDraft = '';\ntry {\n  const content = judgeRaw.choices?.[0]?.message?.content || '';\n  const parsed = JSON.parse(content);\n  selectedDraft = parsed.selected_draft || '';\n  judgeRaw.model_scores = parsed;\n} catch (e) {\n  selectedDraft = ($json.core_candidates?.[0]?.raw || 'Draft unavailable');\n}\nconst taskBrief = `# Task Brief\\n\\n- Job: ${$json.job_id}\\n- Added blocks: ${$json.delta_pack?.added?.length || 0}\\n- Removed blocks: ${$json.delta_pack?.removed?.length || 0}\\n- Modified blocks: ${$json.delta_pack?.modified?.length || 0}\\n\\n## Next steps\\n1. Review English V2 Draft\\n2. Edit manually in Word\\n3. Upload *_manual*.docx and approve_manual`;\nconst draftB64 = Buffer.from(selectedDraft, 'utf8').toString('base64');\nconst deltaJson = JSON.stringify($json.delta_pack || {}, null, 2);\nconst deltaB64 = Buffer.from(deltaJson, 'utf8').toString('base64');\nconst taskB64 = Buffer.from(taskBrief, 'utf8').toString('base64');\nconst reviewDir = `${$env.TRANSLATION_ROOT || '/Users/ivy/Library/CloudStorage/OneDrive-Personal/Translation Task'}/Translated -EN/_REVIEW/${$json.job_id}`;\nreturn [{ ...$json, final_draft: selectedDraft, final_draft_b64: draftB64, task_brief: taskBrief, task_brief_b64: taskB64, delta_b64: deltaB64, review_dir: reviewDir }];\n"
      }
    },
    {
      "id": "wf20_compose",
      "name": "Execute Command ComposeDocx",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3740,
        500
      ],
      "parameters": {
        "command": "=mkdir -p \"{{$json.review_dir}}\" && {{$env.PYTHON_BIN || 'python3'}} /Users/Code/workflow/translation/scripts/compose_docx_from_draft.py --template \"{{$json.files.english_v1.path}}\" --output \"{{$json.review_dir}}/English V2 Draft.docx\" --draft-text-base64 \"{{$json.final_draft_b64}}\""
      }
    },
    {
      "id": "wf20_pack",
      "name": "Execute Command Write Review Pack",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3740,
        640
      ],
      "parameters": {
        "command": "={{$env.PYTHON_BIN || 'python3'}} /Users/Code/workflow/translation/scripts/write_review_pack.py --review-dir \"{{$json.review_dir}}\" --task-brief-b64 \"{{$json.task_brief_b64}}\" --delta-b64 \"{{$json.delta_b64}}\""
      }
    },
    {
      "id": "wf20_out",
      "name": "Set Task Brief + Delta Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        560
      ],
      "parameters": {
        "jsCode": "\nreturn [{\n  job_id: $json.job_id,\n  review_dir: $json.review_dir,\n  task_brief: $json.task_brief,\n  delta_pack: $json.delta_pack,\n  status: 'review_pending',\n  callback_base: `${$env.N8N_PUBLIC_BASE_URL || ''}/webhook/review`\n}];\n"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code ArabicDiff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code ArabicDiff": {
      "main": [
        [
          {
            "node": "Code Build Core Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Build Core Prompts": {
      "main": [
        [
          {
            "node": "HTTP Gemini Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Claude Rewrite",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP ChatGPT QA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP DeepSeek Variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Gemini Draft": {
      "main": [
        [
          {
            "node": "Merge Gemini+Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Claude Rewrite": {
      "main": [
        [
          {
            "node": "Merge Gemini+Claude",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Gemini+Claude": {
      "main": [
        [
          {
            "node": "Merge +ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP ChatGPT QA": {
      "main": [
        [
          {
            "node": "Merge +ChatGPT",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge +ChatGPT": {
      "main": [
        [
          {
            "node": "Merge +DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP DeepSeek Variant": {
      "main": [
        [
          {
            "node": "Merge +DeepSeek",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge +DeepSeek": {
      "main": [
        [
          {
            "node": "Code Normalize Core Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Normalize Core Candidates": {
      "main": [
        [
          {
            "node": "Code PreJudge Heuristics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code PreJudge Heuristics": {
      "main": [
        [
          {
            "node": "Adaptive Expansion IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adaptive Expansion IF": {
      "main": [
        [
          {
            "node": "HTTP GLM Expansion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Skip Expansion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GLM Expansion": {
      "main": [
        [
          {
            "node": "HTTP MiniMax Expansion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP MiniMax Expansion": {
      "main": [
        [
          {
            "node": "HTTP Kimi Expansion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Kimi Expansion": {
      "main": [
        [
          {
            "node": "Code Collect Expanded Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Collect Expanded Candidates": {
      "main": [
        [
          {
            "node": "HTTP ChatGPT Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Skip Expansion": {
      "main": [
        [
          {
            "node": "HTTP ChatGPT Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP ChatGPT Judge": {
      "main": [
        [
          {
            "node": "Code FinalAssembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code FinalAssembler": {
      "main": [
        [
          {
            "node": "Execute Command ComposeDocx",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command Write Review Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command ComposeDocx": {
      "main": [
        [
          {
            "node": "Set Task Brief + Delta Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Write Review Pack": {
      "main": [
        [
          {
            "node": "Set Task Brief + Delta Summary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}